/Test/nbproject/private/
/Test/build/
/Java-Intro-master/Java-Intro-master/EjemploLecturaYEntrada/build/
/Java-Intro-master/Java-Intro-master/EjemploLecturaYEntrada/nbproject/private/
/Java-Intro-master/Java-Intro-master/EjemploSentenciasSalto/nbproject/private/
/Java-Intro-master/Java-Intro-master/Ejemplos Funciones/nbproject/private/
/Java-Intro-master/Java-Intro-master/EjemplosEstructuras/build/
/Java-Intro-master/Java-Intro-master/EjemplosEstructuras/nbproject/private/
/Java-Intro-master/Java-Intro-master/VectorYMatriz/build/
/Java-Intro-master/Java-Intro-master/VectorYMatriz/nbproject/private/
/Java-Intro-master/EjemploLecturaYEntrada/nbproject/private/
/Java-Intro-master/EjemploLecturaYEntrada/build/
/Suma/nbproject/private/
/Suma/build/
/Nombre/nbproject/private/
/Nombre/build/
/gradosF/nbproject/private/
/gradosF/build/